<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div ng-app="todo" ng-controller="page"> 

  <ul class="nav navbar-nav">
    <li ng-repeat="tab in tabs"><a href="" ng-click="ui.current(tab.number)">{{tab.title}}</a></li>
    <li><a href="" ng-click="ui.current(0);"><span class="glyphicon glyphicon-plus"></span>Create New List</a></li>
  </ul>

    <br><br><hr/>

    <div ng-show="ui.isCurrent(0);">
      <h3>Create New List</h3>
      <br>
        Name of the list:
        <input type="text" ng-model="newTabName">
        <button class="btn btn-success" ng-click="create()">
          <span class="glyphicon glyphicon-save"></span>  Create
        </button>
    </div>

    <div ng-controller="tab1" ng-show="ui.isCurrent(1);">
      <h3>To do List 1  <button type="button" class="btn btn-default" ng-click="editorEnabled=!editorEnabled" >
        <span class="glyphicon glyphicon-pencil"></span> Edit</button></h3>
        <br>
        Add To Do:
        <input type="text" ng-model="newList">
        <button class="btn btn-success" ng-click="add()">
          <span class="glyphicon glyphicon-save"></span>  Add
        </button>
        <ul ng-repeat="item in list">
            <li ng-class="{ 'done': item.complete }">{{item.name}}
              <input type="checkbox" ng-checked="item.complete" ng-model="checkboxModel" ng-change= "item.complete = checkboxModel" >
            </li>
            <span ng-show="editorEnabled"> Move To List
                <input class="trans" ng-model="moveIndex" type="number" min="1">
                <button type="button" class="btn btn-primary" ng-click="moveToTab(moveIndex)">Move!</button>
            </span>
        </ul>
    </div>

    <div ng-repeat="tab in tabs" ng-show="ui.isCurrent(tab.number);">
      <h3>{{tab.title}}  <button type="button" class="btn btn-default" ng-click="editorEnabled=!editorEnabled" >
        <span class="glyphicon glyphicon-pencil"></span> Edit</button></h3><br>
        Add To Do:
        <input type="text" ng-model="newList">
        <button class="btn btn-success" ng-click="add(tab,newList)">
          <span class="glyphicon glyphicon-save"></span>  Add
        </button>
        <ul ng-repeat="item in tab.list">
            <li ng-class="{ 'done': item.complete }">{{item.name}}
            <input type="checkbox" ng-checked="item.complete" ng-model="checkboxModel" ng-change= "item.complete = checkboxModel">
            </li>
            <span ng-show="editorEnabled"> Move To List
                <input class="trans" ng-model="moveIndex" type="number" min="1">
                <button type="button" class="btn btn-primary" ng-click="moveToTab(moveIndex)">Move!</button>
            </span>
        </ul>
  </div>

</div>

</body>
</html>
