<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
 <!-- local angular -->
  <script src="angular.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div ng-app="todo" ng-controller="page">

  <ul class="nav navbar-nav">
    <li ng-repeat="tab in tabs"><a href="" ng-click="ui.current(tab.number)">{{tab.title}}</a></li>
    <li><a href="" ng-click="ui.current(0);"><span class="glyphicon glyphicon-plus"></span>Create New List</a></li>
  </ul>

    <br><br><hr/>
    <div class ="listPage">

      <div ng-show="ui.isCurrent(0);">
        <h1>Create New List</h1>
        <br>
          <strong>Name of the list:</strong>
          <input type="text" ng-model="newTabName">
          <button class="btn btn-success" ng-click="create()">
            <span class="glyphicon glyphicon-save"></span>  Create
          </button>
      </div>

      <div ng-repeat="tab in tabs" ng-show="ui.isCurrent(tab.number);">
        <h1>{{tab.title}}  <button type="button" class="btn btn-default" ng-click="editorEnabled=!editorEnabled" >
          <span class="glyphicon glyphicon-pencil"></span> Edit</button></h1><br>
          <strong>Add To Do:</strong>
          <input type="text" ng-model="newList">
          <button class="btn btn-success" ng-click="add(tab,newList)">
            <span class="glyphicon glyphicon-save"></span>  Add
          </button>
          <ul ng-repeat="item in tab.list">
              <li ng-class="{ 'done': item.complete }">{{item.name}}
              <input type="checkbox" ng-checked="item.complete" ng-model="checkboxModel" ng-change= "item.complete = checkboxModel" ng-click="update()">
              </li>
              <span ng-show="editorEnabled"> Move To List
                  <input class="trans" ng-model="moveIndex" type="number" min="1" max={{totalTab}}>
                  <button type="button" class="btn btn-primary" ng-click="moveToTab(moveIndex,tab.number,item)">Move!</button>
              </span>
          </ul>
      </div>

    </div>
</div>

</body>
</html>
